* {
    font-family: 'Onest-medium', 'Noto Sans JP', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

section {
    display: block;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(185, 185, 185);
}

::-webkit-scrollbar-thumb {
    background-color:  #333;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Estilo base da barra de navegação */
#navbar {
    background-color: rgba(241, 240, 240, 0.192);
    backdrop-filter: blur(6px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: background-color 0.3s ease;
    padding: 10px 0;
}

#navbar ul {
    list-style: none;
    padding: 0;
    margin: 9;
    text-align: end;
}

#navbar li {
    display: inline-block;
    margin-right: 40px;
}

#navbar a {
    text-decoration: none;
    color:#333;
    font-size: 18px;
}

#navbar a:hover {
    color: #508baf;
}

/* Estilo para telas menores */
@media screen and (max-width: 768px) {

    /* Modificações para a barra de navegação */
    #navbar ul {
     text-align: center;
     margin: 0;
     }
 
     #navbar li {
         display: block;
         margin: 8px;
         margin-left: 20px;
     }
 }


/* Estilos da seção de boas-vindas */
#welcome-section {
    text-align: center;
    padding: 140px 0;
    background-color: #ffffff;
    color:#333;
    position: relative;
}

.floating-text h3 {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#welcome-text {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 50%;
    padding-right: 2px;
}

#welcome-text h1 {
    font-size: 5rem;
    margin: 0;
    font-weight: 900;
}

#welcome-text h3 {
    font-size: 1.9rem;
    margin: 0;
}

#welcome-section img {
    width: 290px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    filter: drop-shadow(5px 5px 6px #b8b7b7);
}

#welcome-section h1 {
    font-size: 3rem;
    display: inline-block;
}

button {
    width: 9em;
    height: 3em;
    margin-top: 30px;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #7bc0c5 0%, #c0bfbf 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 9em;
   }

/* estilo da seção de about */

#about-section {
    background-color: #444444;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.about-title-container {
  width: 100%;
  max-width: 990px;
  margin-left: 20px;
}

.about-title {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 50px;
}

.card-about {
    width: 990px;
    height: 554px;
    margin: 20px auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
   }
   
   .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
   
.content-text {
    color: #dddada;
    padding: 40px;
    text-align: left;
}

.content-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content-text p {
    font-size: 16px;
    line-height: 2.0;
    padding: 10px;
}

/* Estilo para telas menores */
@media screen and (max-width: 768px) {
    .content-text {
        color: #dddada;
        padding: 20px;
        text-align: center; /* Alinhar o texto ao centro em telas menores */
    }

    .content-text h2 {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center; /* Alinhar o título ao centro em telas menores */
    }

    .content-text p {
        font-size: 16px;
        line-height: 1.5;
        padding: 10px;
        text-align: justify; /* Justificar o texto em telas menores */
    }
}





/* Estilo da seção de projetos */
#projects-section {
    padding: 50px 0;
    background-color: #333;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 30px;
}
  
.project-card {
    flex: 1;
    width: 100%;
    max-width: 700px;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 1px solid transparent;
  }
  
  .project-card a {
    text-decoration: none
  }
  
  .content {
    padding: 1.1rem;
  }
  
  .image {
    object-fit: cover;
    width: 100%;
    height: 120px;
    background-color: rgb(201, 204, 212);
  }

  .title-project {
    font-size: 2.5rem;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 50px;
    color: #fff;
}
  
  .title-p {
    color: #111827;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563EB;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }

#profile-link {
    display: block;
    text-align: center;
    padding: 20px;
    background-color: #007ACC;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#profile-link:hover {
    background-color: #00568B;
}

/* Estilo da seção de contato */
#contact {
    background-color: #444444;
    color: #ffffff; 
    padding: 190px 0;
    text-align: center;
}


#contact h2 {
    font-size: 2rem;
}

#contact ul {
    list-style: none;
    padding-top: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#contact li {
    font-size: 1.2rem;
}

#contact a {
    text-decoration: none;
    color: #007ACC;
    transition: color 0.3s ease;
}

#contact a:hover {
    color: #00568B;
}

/* Estilos da seção de tecnologias */
#section-tech {
    text-align: center;
    padding: 50px 0;
    background-color: #333;
}

.title-tech {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.icons {
    width: 40px;
    height: auto;
}
